
.button {
    
    background-color: pink;
    border: none;
    color: white;
    padding: 20px;
    position:center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
}
